<footer class="footer">
    <div class="footer__container">
        <h1 class="footer__title">- get in touch with us -</h1>
        <p class="footer__text">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</p>
        <p class="footer__text--mobile">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio.</p>
        <div class="footer__social-networks">
            <a class="footer__social-network-link rss" href="#">
                <img class="footer__social-network--rss" src="./img/rss.png" alt="rss">
            </a>
            <a class="footer__social-network-link facebook" href="#">
                <img class="footer__social-network--facebook" src="./img/facebook.png" alt="facebooks">
            </a>
            <a class="footer__social-network-link twitter" href="#">
                <img class="footer__social-network--twitter" src="./img/twitter.png" alt="twitter">
            </a>
            <a class="footer__social-network-link dribbble" href="#">
                <img class="footer__social-network--dribbble" src="./img/dribbble.png" alt="dribbble">
            </a>
            <a class="footer__social-network-link pinterest" href="#">
                <img class="footer__social-network--pinterest" src="./img/pinterest.png" alt="pinterest">
            </a>
        </div>
        <p class="footer__contact-information"> Moonshine St. 14-05 Light City <span>/</span> T. +00 (123) 456 78 90 <span>/</span> first.last@email.com</p>
    </div>
</footer>