<header class="header">
    <div class="header__container">
        <div class="header__menu">
            <div class="header__menu-wrapper">
                <ul class="header__menu-list">
                    <li class="header__menu-item"><a href="#" class="header__menu-link active">Home</a></li>
                    <li class="header__menu-item"><a href="#" class="header__menu-link">About Us</a></li>
                    <li class="header__menu-item"><a href="#" class="header__menu-link">Our Journal</a></li>
                    <li class="header__menu-item"><a href="#" class="header__menu-link">Projects</a></li>
                    <li class="header__menu-item"><a href="#" class="header__menu-link">news</a></li>
                    <li class="header__menu-item"><a href="#" class="header__menu-link">features</a></li>
                    <li class="header__menu-item"><a href="#" class="header__menu-link">contact</a></li>
                </ul>
                <div class="header__burger-menu-btn">
                    <div class="header__burger-menu-line first" data-line="1"></div>
                    <div class="header__burger-menu-line second" data-line="2"></div>
                    <div class="header__burger-menu-line third" data-line="3"></div>
                </div>
                <ul class="header__burger-menu">
                    <li class="header__burger-menu-item" data-menu-item="1"><a href="#" class="header__burger-menu-link active" data-menu-link="1">Home</a></li>
                    <li class="header__burger-menu-item" data-menu-item="2"><a href="#" class="header__burger-menu-link" data-menu-link="2">About Us</a></li>
                    <li class="header__burger-menu-item" data-menu-item="3"><a href="#" class="header__burger-menu-link" data-menu-link="3">Our Journal</a></li>
                    <li class="header__burger-menu-item" data-menu-item="4"><a href="#" class="header__burger-menu-link" data-menu-link="4">Projects</a></li>
                    <li class="header__burger-menu-item" data-menu-item="5"><a href="#" class="header__burger-menu-link" data-menu-link="5">news</a></li>
                    <li class="header__burger-menu-item" data-menu-item="6"><a href="#" class="header__burger-menu-link" data-menu-linkk="6">features</a></li>
                    <li class="header__burger-menu-item" data-menu-item="7"><a href="#" class="header__burger-menu-link" data-menu-link="7">contact</a></li>
                </ul>
            </div>
            <img class="header__image" src="./img/header_image.png" alt="header-image">
        </div>
    </div>
</header>