<section class="instagram">
    <div class="instagram__container">
        <div class="instagram__title-wrapper">
            <h1 class="instagram__title">- Latest Instagram Shots</h1>
            <h1 class="instagram__title--second">- Last Instagram Shot</h1>
            <h1 class="instagram__title--addition">go to our instagram page -</h1>
        </div>
        <div class="instagram__shots-wrapper">
            <img class="instagram__shot shot-1" src="./img/shot-1.png" alt="shot-1">
            <img class="instagram__shot" src="./img/shot-2.png" alt="shot-2">
            <img class="instagram__shot" src="./img/shot-3.png" alt="shot-3">
            <img class="instagram__shot shot-4" src="./img/shot-4.png" alt="shot-4">
        </div>
    </div>
</section>