<section class="recent-posts">
    <div class="recent-posts__container">
        <h1 class="recent-posts__title">- our Recent posts</h1>
        <div class="recent-posts__posts-list">
            <div class="recent-posts__post-item">
                <img class="recent-posts__post-image" src="./img/post-img1.png" alt="post-1">
                <div class="recent-posts__post-content">
                    <h2 class="recent-posts__post-title">Aenean Adipiscing Etiam Vestibulum</h2>
                    <p class="recent-posts__post-category">Photography, Journal  <span>/</span>  9 Comments</p>
                    <p class="recent-posts__post-text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
            </div>
            <div class="recent-posts__post-item">
                <img class="recent-posts__post-image" src="./img/post-img2.png" alt="post-2">
                <div class="recent-posts__post-content">
                    <h2 class="recent-posts__post-title">Aenean Adipiscing Etiam Vestibulum</h2>
                    <p class="recent-posts__post-category">Photography, Journal <span>/</span> 9 Comments</p>
                    <p class="recent-posts__post-text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
            </div>
            <div class="recent-posts__post-item">
                <img class="recent-posts__post-image" src="./img/post-img3.png" alt="post-3">
                <div class="recent-posts__post-content">
                    <h2 class="recent-posts__post-title">Aenean Adipiscing Etiam Vestibulum</h2>
                    <p class="recent-posts__post-category">Photography, Journal <span>/</span> 9 Comments</p>
                    <p class="recent-posts__post-text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
            </div>
            <div class="recent-posts__post-item">
                <img class="recent-posts__post-image" src="./img/post-img4.png" alt="post-4">
                <div class="recent-posts__post-content">
                    <h2 class="recent-posts__post-title">Aenean Adipiscing Etiam Vestibulum</h2>
                    <p class="recent-posts__post-category">Photography, Journal <span>/</span> 9 Comments</p>
                    <p class="recent-posts__post-text">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                </div>
            </div>
        </div>
    </div>
</section>