@font-face {
	font-family: Banty;
	font-display: swap;
	src: url("../fonts/Banty-Bold.woff2") format("woff2"), url("../dist/fonts/Banty-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: BriosoPro;
	font-display: swap;
	src: url("../fonts/BriosoPro-Italic.woff2") format("woff2"), url("../fonts/BriosoPro-Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Metroplex;
	font-display: swap;
	src: url("../fonts/Metroplex-Shadow.woff2") format("woff2"), url("../fonts/Metroplex-Shadow.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: PFAgoraSlabPro;
	font-display: swap;
	src: url("../fonts/PFAgoraSlabPro-Bold.woff2") format("woff2"), url("../fonts/PFAgoraSlabPro-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
