.footer {
  width: 100vw;
  padding: 66px 0 70px 0;
  background-color: $secondary-bg;
  color: $footer-ordinary-txt;

  @media (max-width: $tablet) {
    padding: 57px 0 56px 0;
  }

  @media (max-width: $tablet) {
    padding: 38px 0 47px 0;
  }

  span {
    padding: 0 8px;
  }

  &__container {
    @include flexCenter;
    flex-direction: column;
  }

  &__title {
    color: $footer-title-txt;
    @include font(700, 16, 22);
    text-transform: uppercase;
  }

  &__text {
    max-width: 660px;
    margin: 22px 0 37px 0;
    @include font(400, 16, 28);
    text-align: center;

    @media (max-width: $mobile) {
      display: none;
    }

    &--mobile {
      display: none;

      @media (max-width: $mobile) {
        display: block;
        max-width: 300px;
        margin: 8px 0 26px 0;
        @include font(400, 12, 20);
        text-align: center;
      }
    }
  }

  &__social-networks {
    @include flexCenter;
    gap: 6px;
  }

  &__social-network-link {
    border-radius: 30px;
    width: 34px;
    height: 34px;
    @include flexCenter;

    &.rss {
      border: 2px solid #F8902E;
    }

    &.facebook {
      border: 2px solid #39599F;
    }

    &.twitter {
      border: 2px solid #45B0E3;
    }

    &.dribbble {
      border: 2px solid #D97AB0;
    }

    &.pinterest {
      border: 2px solid #CC212C;
    }
  }

  &__social-network {

    &--rss {
      width: 10px;
      height: 10px;
    }

    &--facebook {
      width: 6px;
      height: 12px;
    }

    &--twitter {
      width: 9px;
      height: 12px;
    }

    &--dribbble {
      width: 12px;
      height: 12px;
    }

    &--pinterest {
      width: 10px;
      height: 12px;
    }

  }

  &__contact-information {
    text-align: center;
    margin-top: 34px;
    @include font(400, 16, 26);

    @media (max-width: $mobile) {
      margin-top: 25px;
      @include font(400, 14, 24);
      max-width: 220px;
    }
  }

}