.header {
  width: 100vw;
  padding-top: 45px;
  @include flexCenter;

  @media (max-width: $tablet) {
    padding-top: 41px;
  }

  &__container {
    width: 100vw;
  }

  &__menu-wrapper {

    @media (max-width: 600px) {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      position: relative;
    }
  }

  &__menu-list {
    @include flexCenter;
    flex-direction: row;
    gap: 68px;
    @include font(400, 11, 22);
    text-transform: uppercase;

    @media (max-width: 992px) {
      gap: 34px;
    }

    @media (max-width: 600px) {
      display: none;
    }

  }

  &__menu-link {
    color: $primary-txt;

    &.active{
      color: $focus-txt;
    }
  }

  &__burger-menu-btn {
    display: none;
    width: 44px;
    height: 37px;
    background-color: #000000;
    position: relative;

    @media (max-width: 600px) {
      @include flexCenter;
      flex-direction: column;
      gap: 2px;
    }
  }

  &__burger-menu-line{
    display: flex;
    background: #FFFFFF;;
    width: 17px;
    height: 2px;

    &.first.active{
      position: absolute;
      transform: rotate(-45deg);
      top: 50%;
    }

    &.second.active{
      display: none;
    }

    &.third.active{
      position: absolute;
      transform: rotate(-135deg);
      top: 50%;
    }

  }

  &__burger-menu {
    display: none;
    width: 182px;
    background: #F5F5F5;
    @include font(400, 11, 22);
    text-transform: uppercase;
    position: absolute;
    top: 100%;
    right: -0.5px;

    &.active {
      display: flex;
      flex-direction: column;
    }
  }

  &__burger-menu-item {
    display: flex;
    align-items: center;
    height: 32px;
    width: 100%;
    padding-left: 14px;

    &:hover {
      background-color: #E5E5E5;
    }
  }

  &__burger-menu-link {
    color: $primary-txt;

    &.active{
      color: $focus-txt;
    }
  }


  &__image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 550px;
    width: 100%;
    margin: 51px 0 66px 0;
    
    @media (max-width: $tablet) {
      margin: 43px 0 56px 0;
    }
    
    @media (max-width: $mobile) {
      margin: 23px 0 38px 0;
    }
  }
}