.instagram {
  width: 100vw;
  padding: 47px 0 50px 0;
  background-color: rgba(0, 0, 0, 0.03);

  @media(max-width: $mobile) {
    padding: 38px 0 42px 0;
    background-color:$primary-bg;
  }

  &__container {
    width: 100vw;
  }

  &__title-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    width: 100%;

    @media (max-width: $tablet) {
      margin-bottom: 35px;
    }

    @media (max-width: $mobile) {
      margin-bottom: 13px;
    }
  }

  &__title {
    @include font(700, 16, 22);
    text-transform: uppercase;

    @media (max-width: $mobile) {
      display: none;
    }

    &--second {
      display: none;

      @media (max-width: $mobile) {
        @include font(700, 14, 22);
        text-transform: uppercase;
        display: block;
      }
    }

    &--addition {
      @include font(700, 13, 22);
      text-transform: uppercase;

      @media (max-width: $mobile) {
        display: none;
      }
    }

  }

  &__shots-wrapper {
    display: flex;
    gap: 10px;
    max-width: 1170px;
  }

  &__shot {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 285px;
    overflow: hidden;

    @media (max-width: $mobile) {
      display: none;
    }

    &.shot-1 {
      @media (max-width: $mobile) {
        display: block;
      }
    }

    &.shot-4 {
      @media (max-width: $tablet) {
        display: none;
      }
    }

  }

}