.recent-posts {
  width: 100vw;
  padding-bottom: 69px;
  
  @media (max-width: $tablet) {
    padding-bottom: 60px;
  }
  
  @media (max-width: $mobile) {
    padding-bottom: 40px;
  }

  span {
    padding: 0 8px;
  }

  &__title {
    @include font(700, 16, 22);
    text-transform: uppercase;
    margin-bottom: 24px;

    @media (max-width: $mobile) {
      @include font(700, 14, 22);
    }
  }

  &__posts-list {
    @include flexCenter;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;

    @media (max-width: $tablet) {
      gap: 34px;
    }

    @media (max-width: $mobile) {
      gap: 28px;
    }
  }

  &__post-item {
    @include flexCenter;
    flex-direction: row;
    align-items: flex-start;
    gap: 21px;
    max-width: 556px;

    @media (max-width: $mobile) {
      flex-direction: column;
      gap: 11px;
    }
  }

  &__post-image {
    width: 160px;
    height: 140px;
  }

  &__post-content {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  &__post-title {
    @include font(700, 16, 30);

    @media (max-width: $mobile) {
      @include font(700, 14, 30);
    }
  }

  &__post-category {
    @include font(400, 12, 20);
    color:$descriptions-txt;

    @media (max-width: $mobile) {
      @include font(400, 11, 20);
    }
  }

  &__post-text {
    padding-top: 10px;
    @include font(400, 14, 26);
    color:$ordinary-txt;

    @media (max-width: $mobile) {
      display: none;
    }
  }


}