@import 'reset';
@import 'variables';
@import 'fonts';
@import 'mixins';

body{
  font-family:$fontFamily;
  @include font($fontWeight, $fontSize, $lineHeight);
  color: $primary-txt;
  background-color: $primary-bg;
  overflow-x: hidden;
}

[class*='__container'] {
  max-width: $maxWidthContainer;
  margin: 0 auto;
  padding: $containerPadding;
}

@import 'header';
@import 'recent-posts';
@import 'instagram';
@import 'footer';