//fonts
$fontFamily: 'Roboto';
$fontWeight: 400;
$fontSize: 16x;
$lineHeight: 22px;

//color-text
$primary-txt: #4E4E4E;
$ordinary-txt: #5C5C5C;
$descriptions-txt: #7C7C7C;
$focus-txt: #57A4A4;
$footer-title-txt: #FEFEFE;
$footer-ordinary-txt: #B9B9B9;

//bg-color
$primary-bg: #FFFFFF;
$secondary-bg: #000000;
$burger-menu-bg: #F5F5F5;

//sizes
$containerPadding: 0 20px;

//adaptive
$maxWidthContainer: 1210px;

//breakpoint
$pc: $maxWidthContainer;
$tablet: 768px;
$mobile: 480px;
